/* .item {
    margin-top: 0.8rem;
    background-color: #F5F5F5;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width:26rem;
    text-align: left;
    display: inline;
    
}

h3 {
    font-family: "Roboto";
    font-size: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

p {
    font-size: 0.8rem;
    color: #424242;
    padding-top: 0rem;
    margin-top: 0;
    font-family: "Roboto Condensed"
} */