<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<!-- <div class="todo-title">//TODO:</div> -->
<mat-form-field class="todo-input">
  <textarea matInput #task placeholder="Add a TODO" matTextareaAutosize matAutosizeMinRows="1"
            matAutosizeMaxRows="5"></textarea>
  <button (click)="setTodo(task.value); task.value=''" mat-button matSuffix mat-icon-button color="primary" aria-label="Add" *ngIf=task.value>
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-form-field>

<mat-list>
  <h3 mat-subheader>Todos</h3>
  <mat-list-item style="width:30rem" *ngFor="let todo of todos">
    <mat-icon mat-list-icon>event_note</mat-icon>
    <h4 mat-line style="white-space: normal;">{{todo.task}}</h4>
    <!-- <p mat-line> {{todo.created | date: "EE, d MMM, HH:mm": "+0200"}}</p> -->
    <button mat-button (click)="removeTodo(todo)">Done</button>
  </mat-list-item>
</mat-list>

<!-- <mat-card *ngFor="let todo of todos" class="todo-card">
  <mat-card-header>
    <mat-card-title class="task">{{todo.task}}</mat-card-title>
  </mat-card-header>
  <mat-card-subtitle style="padding-left: 0.6rem" class="created">{{todo.created | date: "EE, d MMM, HH:mm": "+0200"}}</mat-card-subtitle> 
  
  <mat-card-actions align="end">
      
    <button  (click)="removeTodo(todo)" mat-button>DONE</button>
  </mat-card-actions>
</mat-card> -->