<div class="main">

  <!-- Left side = news, "who's here", weather maybe -->
  <!-- <div class="flex-item"></div> -->

  <!-- Center = logo, clock, alarms -->
  <div class="center">
      <img src="assets/blue_acervatio.png" width="160px" height="160px">
      <div class="name">
          Acervatio
      </div>
      <div id="clock">
          {{time | date:'HH:mm:ss'}}
      </div>
  </div>

  <!-- Right side = Todo  -->
  <div class="flex-item">

    <app-todos></app-todos>
  </div>

  <div class="flex-item">

    <app-reminders></app-reminders>
  </div>

</div>
