/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: 'Prime';
    src: url('assets/fonts/PrimeRegular.eot') format('embedded-opentype'), url('assets/fonts/PrimeRegular.woff2') format('woff2'), url('assets/fonts/PrimeRegular.woff') format('woff'), url('assets/fonts/PrimeRegular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 100%;
    margin: 0;
    flex-flow: row wrap;
    background-color: #263238;
}

.flex-item {
    /* background-color: #00897B; */
    align-self: center;
    color: whitesmoke;
    /* padding: 1rem;
    margin: 1rem; */
    width: 38%;
    height: 90%;
    overflow: auto;
}

.center {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.name {
    padding-top: 1.4rem;
    text-transform: uppercase;
    color: #FAFAFA;
    font-family: 'Prime', sans-serif;
    font-size: 2rem;
}

#clock {
    color: #FAFAFA;
    font-family: sans-serif;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.todo-card {
    /* background: #F5F5F5; */
    margin: 1.4rem; 
    /* color: #212121; */
}

.todo-title {    
    font-family: 'mononoki', monospace;
    padding: 1.5rem;
    font-size: 1.4rem;
}